<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    <title>Il mio ristorante</title>
</head>

<body class = "centro">
    <h1> MENU</h1>
    <h2> Questo è il nostro menu:</h2>
    <h1> Antipasti: </h1><img src="/static/images/antipasti.jpg"> 
    <h1> Primi: </h1><img src="/static/images/primi.jpg"> 
    <h1> Secondi: </h1><img src="/static/images/secondi.jpg"> 
    <h1> Dolci: </h1><img src="/static/images/dolci.jpg"> 
</body>
</html>